.product-card {
    margin-top: 100px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 567px;
    width: 302px;
    /* border: 1px solid #ECECEC; */
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.13);
}

.card-img {
    height: 222px;
    width: 301px;
    object-fit: cover;
    border-radius: 12px;
}

.card-main {
    height: 275.5px;
    /* text-align: center; */
}

.card-title {
    height: 33px;
    /* width: 165px; */
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 33px;
    text-align: center;
}

.card-content {
    height: 56px;
    /* width: 255px; */
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.card-btn {
    height: 69px;
    width: 301px;
    border-radius: 0 0 12px 12px;
    background-color: #000000;
    border: none;
    text-align: center;
    cursor: pointer;
}

.btn-txt {
    height: 16px;
    width: 123px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

.color-select {
    height: 32px;
    width: 33px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    
}

.color-group {
    display: flex;
    justify-content: flex-start;
}

.purple {
    background-color: #81396F;
}

.blue {
    background-color: #143061;
}

.pink {
    background-color: #F6437D;
}